<!DOCTYPE html>
<html>
  <%= render partial: "/layouts/head" %>

  <body class="h-full bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <%= render partial: "/layouts/header" %>

      <%= yield %>
    </div>
  </body>
</html>
